<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="false">
    <testsuites>
        <testsuite name="view">
            <file>tests/ViewTest.php</file>
            <file>tests/ViewBuilderTest.php</file>
            <file>tests/ViewFacadeTest.php</file>
        </testsuite>
        <testsuite name="location">
            <file>tests/FilesystemLocationTest.php</file>
            <file>tests/LocationCollectionTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
